<h1>Smart-Health-Care Application</h1>

<p>Hi <%= @appointment.patient.name %>,</p>

<p>
  Your appointment has been rescheduled for <%= @appointment.appointment_date %> at <%= @appointment.appointment_time %>.
</p>
